<form action="/download" method="post" enctype="multipart/form-data">
    <label for="MSIDN">MSIDN:</label>
    <input type="text" name="MSIDN" id="MSIDN" placeholder="971XXXXXXXXX" required>
    <br/>

    <label for="EventType">EventType:</label>
    <input type="text" name="EventType" id="EventType" placeholder="10" required>
    <br/>
    
    <label for="EventDateAndTime">EventDateAndTime:</label>
    <input type="text" name="EventDateAndTime" id="EventDateAndTime" placeholder="DDMMYYYYhhmm" required>
    <br/>

    <label for="ServiceClass">ServiceClass:</label>
    <input type="text" name="ServiceClass" id="ServiceClass" placeholder="###" required>
    <br/>

    <label for="RechargeAmount">RechargeAmount:</label>
    <input type="text" name="RechargeAmount" id="RechargeAmount" placeholder="###" required>
    <br/>

    <label for="PaymentMethod">PaymentMethod:</label>
    <input type="text" name="PaymentMethod" id="PaymentMethod" placeholder="##" required>
    <br/>

    <label for="Category">Category:</label>
    <input type="text" name="Category" id="Category" placeholder="SPL" required>
    <br/>

    <label for="Location">Location:</label>
    <input type="text" name="Location" id="Location" placeholder="X10" required>
    <br/>

    <p><input type="submit" value="Submit"></p>
</form>